<h2>Student Information</h2>

<form #studentForm="ngForm" (ngSubmit)="saveStudent(studentForm)">

  <label>Student ID:</label><br>
  <input
    type="number"
    name="id"
    [(ngModel)]="student.id"
    #id="ngModel">
  <br><br>

  <label>Full Name:</label><br>
  <input
    type="text"
    name="name"
    [(ngModel)]="student.name"
    required
    #name="ngModel">
  <br>
  <span *ngIf="name.invalid && name.touched" style="color:red">
    Name is required
  </span>
  <br><br>

  <label>Email:</label><br>
  <input
    type="email"
    name="email"
    [(ngModel)]="student.email"
    required
    #email="ngModel">
  <br>
  <span *ngIf="email.invalid && email.touched" style="color:red">
    Valid email is required
  </span>
  <br><br>

  <label>Department:</label><br>

<select name="department" [(ngModel)]="student.department">

<option value="">Select Department</option>

<option *ngFor="let d of departments" [value]="d">
  {{d}}
</option>

</select>
<br><br>

  <label>Gender:</label><br>

  <input
    type="radio"
    name="gender"
    value="Male"
    [(ngModel)]="student.gender"
    required
    #gender="ngModel"> Male

  <input
    type="radio"
    name="gender"
    value="Female"
    [(ngModel)]="student.gender"> Female

  <br>
  <span *ngIf="gender.invalid && gender.touched" style="color:red">
    Gender is required
  </span>
  <br><br>

  <label>Skills:</label><br>

  <input
    type="checkbox"
    [checked]="student.skills.includes('Java')"
    (change)="onSkillChange($event, 'Java')"> Java

  <input
    type="checkbox"
    [checked]="student.skills.includes('Angular')"
    (change)="onSkillChange($event, 'Angular')"> Angular

  <input
    type="checkbox"
    [checked]="student.skills.includes('Spring')"
    (change)="onSkillChange($event, 'Spring')"> Spring

  <input
    type="checkbox"
    [checked]="student.skills.includes('MySQL')"
    (change)="onSkillChange($event, 'MySQL')"> MySQL

  <br><br>

  <label>Session:</label><br>
  <input
    type="text"
    name="Session"
    [(ngModel)]="student.Session"
    #Session="ngModel">
  <br><br>

  <label>Address:</label><br>

    <textarea
      name="address"
      [(ngModel)]="student.address"
      rows="3"
      cols="30"
      #address="ngModel">
    </textarea>

<br><br>

  <button type="submit" [disabled]="studentForm.invalid">
    {{ editMode ? 'Update' : 'Save' }}
  </button>

  <button type="button" (click)="resetForm()">Clear</button>

</form>

<hr>

<button (click)="loadStudents()">Show</button>

<table *ngIf="showTable" border="1">
  <tr>
    <th>Student ID</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Gender</th>
    <th>Skills</th>
    <th>Session</th>
    <th>Address</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let s of students">
    <td>{{ s.id }}</td>
    <td>{{ s.name }}</td>
    <td>{{ s.email }}</td>
    <td>{{ s.department }}</td>
    <td>{{ s.gender }}</td>
    <td>{{ s.skills.join(', ') }}</td>
    <td>{{ s.Session }}</td>
    <td>{{ s.address }}</td>
    <td>
      <button (click)="editStudent(s)">Edit</button>
      <button (click)="deleteStudent(s.id!)">Delete</button>
    </td>
  </tr>
</table>